{include file="public/header" title="用户登录"/}
<link href="__static__/css/login.min.css" rel="stylesheet">
<link href="__static__/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="__static__/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__static__/plugins/layui/layui.js"></script>
<body class="signin">
    <script type="text/javascript">
    $(function(){
    	 swal({
	        	  title: "权限不足",
				  text: "正在跳转...",
				  type: "error",
				  timer: 2000,
	        }, function () {
	        	var index = parent.layer.getFrameIndex(window.name);
				parent.layer.close(index);
	        });
    })
    </script>
    <script type="text/javascript">
    </script>

</body>
</html>
