<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>菜单列表</title>
<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
<meta name="description"
	content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
<link href="__static__/plugins/layui/css/layui.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico">
<script src="__static__/js/jquery.min.js?v=2.1.4"></script>
<script src="__static__/plugins/layui/layui.js"></script>
</head>

<body>
<div class="layui-container"layui-bg-gray>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>添加数据</legend>
</fieldset>
<form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">文本框</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">文本框</label>
    <div class="layui-input-block">
    <div class="layui-upload">
 <div class="layui-upload-drag" id="file" >
  <i class="layui-icon"></i>
  <p>点击上传，或将文件拖拽到此处</p>
</div><input class="layui-upload-file" name="file" multiple="" type="file">
  <div class="layui-upload-list">
    <table class="layui-table">
      <thead>
        <tr><th>文件名</th>
        <th>大小</th>
        <th>图片预览</th>
        <th>上传地址</th>
        <th>状态</th>
        <th>操作</th>
      </tr></thead>
      <tbody id="fileList"></tbody>
    </table>
  </div>
  <button type="button" class="layui-btn" id="testListAction">开始上传</button>
</div>
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">文件上传</label>
    <div class="layui-input-block">
      <input type="" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">时间</label>
    <div class="layui-input-block">
        <div class="layui-input-inline">
       <input class="layui-input" id="datetime" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
          </div>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">日期</label>
    <div class="layui-input-block">
        <div class="layui-input-inline">
       <input class="layui-input" id="date" placeholder="yyyy-MM-dd" type="text">
          </div>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码框</label>
    <div class="layui-input-inline">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">选择框</label>
    <div class="layui-input-inline">
      <select name="city" lay-verify="required">
        <option value=""></option>
        <option value="0">北京</option>
        <option value="1">上海</option>
        <option value="2">广州</option>
        <option value="3">深圳</option>
        <option value="4">杭州</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">复选框</label>
    <div class="layui-input-block">
      <input type="checkbox" name="like[write]" title="写作">
      <input type="checkbox" name="like[read]" title="阅读" checked>
      <input type="checkbox" name="like[dai]" title="发呆">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">开关</label>
    <div class="layui-input-block">
      <input type="checkbox" name="switch" lay-skin="switch">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">单选框</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" value="男" title="男">
      <input type="radio" name="sex" value="女" title="女" checked>
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">文本域</label>
    <div class="layui-input-block">
      <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>

    </div>
  </div>
</form>
  </div>
<script>
layui.use('form', function(){
  var form = layui.form;

  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});
</script>
<!--== 日期选择器== -->
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  //执行一个laydate实例
  laydate.render({
    elem: '#datetime', //指定元素
	type:'datetime'
  });
  //执行一个laydate实例
  laydate.render({
    elem: '#date', //指定元素
	type:'date'
  });
});
</script>
<!-- ==文件上传== -->
<script type="text/javascript">
layui.use('upload', function(){
	  var upload = layui.upload;
	  var demoListView = $('#fileList')
	  //执行实例
	  var uploadInst = upload.render({
	    elem: '#file' //绑定元素
	    ,url: '{:url('access/abc')}' //上传接口
	    ,auto: false    //不自动上传文件
	    ,bindAction: '#testListAction'//指向一个按钮触发上传
	    ,choose: function(obj){
	    	      var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
	    	      //读取本地文件
	    	      obj.preview(function(index, file, result){
	    	        var tr = $(['<tr id="upload-'+ index +'">'
	    	          ,'<td>'+ file.name +'</td>'
	    	          ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
	    	          ,'<td><img src='+result+'></td>'
	    	          ,'<td>等待上传</td>'
	    	          ,'<td></td>'
	    	          ,'<td>'
	    	            ,'<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
	    	            ,'<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
	    	          ,'</td>'
	    	        ,'</tr>'].join(''));
	    	        //单个重传
	    	        tr.find('.demo-reload').on('click', function(){
	    	          obj.upload(index, file);
	    	        });
	    	        //删除
	    	        tr.find('.demo-delete').on('click', function(){
	    	          delete files[index]; //删除对应的文件
	    	          tr.remove();
	    	          uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
	    	        });

	    	        demoListView.append(tr);
	    	      });
	    	    }
	    ,//上传回调
	    done: function(res, index, upload){
	        if(res.code != 0){ //上传成功
	            var tr = demoListView.find('tr#upload-'+ index)
	            ,tds = tr.children();
	            tds.eq(4).html('<span style="color: #5FB878;">上传成功</span>');
	            tds.eq(3).html(''); //清空操作
	            return delete this.files[index]; //删除文件队列已经上传成功的文件
	          }
	          this.error(index, upload);
	        }
	    ,error: function(){
	      //请求异常回调
	    }
	  });
	});
</script>
</body>
</html>