{include file="common/header"/}
    <!--中间内容-->
    <div class="j-content">
        <div class="g-bd f-cb">


            <div class="g-mn">

<div class="j-r-c">
        <!--标签导航-->
        <div class="j-r-nav">
            <ul>
                <li class="j-nav-active"><a href="javascript:void(0);">
              {$user.name}  粉丝（<span id="labMyUserFans">{$user.fans}</span>）</a></li>
            </ul>
        </div>
        <!--我的粉丝-->
        <div class="j-r-list p-fan">
            <ul id="fansList" scrollpagination="enabled">
   {volist name="$user_fans" id="vo" empty='无粉丝'}
            <li rel="loaded" style="opacity: 1;">
            <div class="p-fan-img">
                <a href="{:url('user/topic',['uid'=>$vo.id])}" target="_blank">
                <input type="hidden" id='userid' value="{$vo.id}"/>
                    <img class="fan-img lazy" data-original="http://wimg.spriteapp.cn/profile/large/2017/11/28/5a1cd9941d213_mini.jpg" src="{$vo.head}" style="display: block;"></a>
            </div>
            <div class="p-fan-des">
                <div class="p-fan-name"><a href="{:url('user/topic',['uid'=>$vo.id])}" target="_blank">{$vo.name}</a></div>
                <div class="p-fan-number">关注：<span>{$vo.attention}</span>
                    | 粉丝：<span>{$vo.fans}</span>
                </div>
                <div class="p-fan-signature">{$vo.introduction}</div>
            </div>
            <div class="p-fan-buttons">
{if condition="$Think.session.uid==$user.id"}
 <div class="p-fan-focus p-fan-cancel-focus j-un-follow"  data-userid="20385456">
                               <a href="javascript:cancelfans();" class="focus cancel-focus j-un-follow"  id="cancel" style="">取消粉丝</a>
 </div>
{else /}
               <div class="p-fan-focus j-follow" data-userid="21792388">         <a href="javascript:attention();" class="focus" id="attention">+ 关注</a>
</div>
{/if}

            </div>
            {/volist}
        </li>

</ul>
        </div>
        <p id="scrollNoMoreMsg" class="f-tac no-more-comment" style=" display: none;">“已显示全部内容”</p>
    </div>



    <!-- 个人页模板 -->
            </div>

            <!--right -->
            <div class="g-sd">

    <div class="j-l-c">
        <!--个人主页-->
            <div class="p-age">
            <div class="p-age-message" id="userInfo">
                <div class="p-age-img">
                    <a href="">
                        <img class="p-logo" src="{$user.head}" alt=""/>
                        <input type="hidden" id='userid' value="{$user.id}"/>
                    </a>
                </div>
                <div class="p-age-mess">
                    <div class="p-age-name">
                        <a href="" class="p-age-netname">{$user.name}</a>
                        <i class="icon-rank"></i>
 {if condition="$Think.session.attentions==null"}
                         <a href="javascript:attention();" class="focus" id="attention">+ 关注</a>
{elseif condition="in_array($user.id,$Think.session.attentions)"}
                        <a href="javascript:cancel();" class="focus cancel-focus j-un-follow"  id="cancel" style="">取消粉丝</a>

{else /}
                        <a href="javascript:attention();" class="focus" id="attention">+ 关注</a>

{/if}
                    </div>
                    <div class="p-age-lein">
                        <span class="level">等级：{$user.grade}</span>
                        <span class="integral">积分：{$user.integer}</span>
                    </div>
                    <div class="signature"></div>
                </div>
            </div>
        </div>
        <!--投稿审稿-->
        <!--投稿-->
<div class="j-sent">
    <a href="{:url('user/publish')}" onclick="jie.gaSend('pc官网-点击发帖button','点击大发帖button','')" class="left icon-contribute">
        <i class="icon-page-contribute"></i>发帖
    </a>
</div>


        <!--大家的在看-->

<div class="j-r-wrst j-all-like j-r-list j-everyone">
    <div class="n-title">
        <h2 class="u-tt u-tt-md">好书荐读网友都在看</h2>
    </div>
    <div class="j-list">
        <div class="j-list-c">
          {volist name="allsee" id="vo" empty="暂时没有数据" }
                <div class="j-item">
                <a href="{:url('index/detail',['id'=>$vo.id])}"
                data-title="{$vo.biaoti}"
                data-id="27260416"
                data-date=""
                data-time="">
                <div class="j-item-img">
                    <img src="{$vo.src}"
                         class="lazy"
                         data-original="{$vo.src}"
                         alt="{$vo.biaoti}"/>
                    <!--<div class="j-item-play">-->
                        <!--<i class="icon-play"></i>-->
                    <!--</div>-->
                </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27260416.html">{$vo.biaoti}</a>
                </div>
            </div>
{/volist}
        </div>
    </div>
</div>
 </div>
            </div>
        </div>
    </div>
    <div id="jDownloadVideo" style="display: none;"></div>
<!--footer -->
{include file="common/footer"/}
<script src="__static__/Scripts/jquery.min.js"></script>
<script src="__static__/Scripts/underscore-min.js"></script>
<script src="__static__/Scripts/base.js"></script>
<script src="__static__/Scripts/jquery.placeholder.min.js"></script>
<script type="text/javascript"
        src="__static__/Scripts/98ee4c1acbf848e9bc11f3e7f8996103.js"></script>
<script src="__static__/Scripts/require.js"></script>
<script type="text/javascript" src="__static__/layui/layui.all.js"></script>
     <script type="text/javascript">

     function attention(){
      	  $.ajax({
   		url:"{:url('base/attention')}",
   		type:'POST',
   		dataType:'json',
   		data:{'uid':$('#userid').attr('value')},
   		 success:function(data){
   			 if(data.code=='200'){
   					layer.msg(data.msg,{icon:1,time:1*1000});
   				}else{
   					layer.msg(data.msg,{icon:5});
   				}
            },
            error:function(data){
           	 layer.msg('数据发送失败',{icon:5});
            }

   	  });
        }
    function cancelfans(){
   	 $.ajax({
   			url:"{:url('base/cancelfans')}",
   			type:'POST',
   			dataType:'json',
   			data:{'uid':$('#userid').attr('value')},
   			 success:function(data){
   				 if(data.code=='200'){
   						layer.msg(data.msg,{icon:1,time:1*1000});
   					}else{
   						layer.msg(data.msg,{icon:5});
   					}
   	         },
   	         error:function(data){
   	        	 layer.msg('数据发送失败',{icon:5});
   	         }

   		  });

    }
     </script>
</body>
