{include file="common/header"/}
<!--中间内容-->
    <div class="j-content">
        <div class="g-bd f-cb">
            

            <div class="g-mn">
                
    <div class="j-r-c">
        <!--标签导航-->
        <div class="j-r-nav">
            <ul>
                <li   ><a href="{:url('user/topic')}">发表的帖子</a>
                </li>
                <li class="j-nav-active" ><a
                        href="{:url('user/share')}">分享的帖子</a></li>
                <li  ><a href="{:url('user/comment')}">评论的帖子</a>
                </li>
            </ul>
        </div>
        <!--帖子列表-->
        <div class="j-r-list">
            <ul id="topicList">
            </ul>
        </div>
        <div class="loading" id="scrollPageLoading" style="display: none;">
            <div class="loading-c">
                <i class="icon-loading-gif"></i>
            </div>
        </div>
        <p id="commentNoMoreMsg" class="f-tac no-more-comment" style=" display: none;">“已显示全部内容”</p>
    </div>
    <!-- 个人页模板 -->
    <script id="tempTopic" type="text/template">
        <% _.each(topic,function(item){ %>
        <!-- 发表的帖子 发表成功 个人页-->
        <li>
            
                <!--用户信息-->
                <div class="j-list-user">
                    <div class="u-img">
                        <a href="/user/others-<%= item['u']['uid']%>.html">
                            <img class="u-logo lazy"
                                 src="Picture/d_user_logo.jpg"
                                 data-original="<%= item['u']['header'][0]%>"
                                 alt="<%= _.escape(item['u']['name'])%>"/>
                        </a>
                    </div>
                    <div class="u-txt">
                        <a href="/user/others-<%= item['u']['uid']%>.html" class="u-user-name"><%= _.escape(item['u']['name'])%></a>
                        <span class="u-time  f-ib f-fr"><%= item['passtime']%></span>
                    </div>
                </div>
            
            
            <!--帖子内容 这里 分为 段子 视频 声音  图片 长文-->
            <div class="j-r-list-c">
                <!--描述 段子 直接 只有它-->
                <div class="j-r-list-c-desc">
                    <% if (!_.isUndefined(item['my_repost'])) { %>
                    <span class="type"><%= _.escape(item['my_repost']['text'])%></span>
                    <% } %>
                    <%= _.escape(item['text'])%>
                </div>
                <!-- 视频 -->
                <%if (item.type == 'video') { %>
                <div class="j-video-c" data-id="<%= item['id']%>">
                    <div class=" j-video" id="j-v-<%= item['id']%>"
                         data-id="<%= item['id']%>"
                         data-poster="<%= item['video']['thumbnail'][0] %>"
                         data-mp4="<%= item['video']['video'][0] %>">
                    </div>
                </div>
                <% } %>
                <!-- 长文 -->
                <%if (item.type == 'html') { %>
                <div class="j-r-list-c-img j-long-text-c">
                    <a href="/detail-<%= item['id']%>.html">
                        <img src="<%= item.html.thumbnail[0] %>"
                             id="pic-<%= item['id']%>"
                             width="540">
                    </a>

                    <div class="icon-long-text-bg"></div>
                </div>
                <a href="<%= item.html['source_url']%>" class="read" target="_blank">
                    <span class="read-line">阅读全文</span><span></span></a>
                <% } %>
                <!-- 声音 -->
                <%if (item.type == 'audio') { %>
                <div class="j-video-c" data-id="<%= item['id']%>">
                    <div class=" j-audio" id="j-v-<%= item['id']%>"
                         data-id="<%= item['id']%>"
                         data-poster="<%= item.audio.thumbnail[0] %>"
                         data-mp3="<%= item.audio.audio[0] %>">
                    </div>
                </div>
                <% } %>
                <!-- 图片 -->
                <%if (item.type == 'image') { %>
                <div class="j-r-list-c-img">
                    <img src="<%= item.image.small[0] || item.image.big[0]    %>"/>
                </div>
                <% } %>
                <!-- gif -->
                <%if (item.type == 'gif') { %>
                <div class="j-r-list-c-img">
                    <img src="<%= item.gif.images[0] || item.gif.images[1] %> "/>
                </div>
                <% } %>
            </div>
            
            <!--操作工具条-->
            <div class="j-r-list-tool" data-id="<%= _.isUndefined(item['my_repost']) ? item['id'] : item['my_repost']['id']%>">
                <div class="j-r-list-tool-l" data-id="<%= item['id']%>">
                    <ul>
                        <li class="j-r-list-tool-l-up">
                            <i class="icon-up"></i>&nbsp;&nbsp;<span><%= item['up']%></span>
                        </li>
                        <li class="j-r-list-tool-l-down ">
                            <i class="icon-down"></i>&nbsp;&nbsp;<span><%= item['down']%></span>
                        </li>
                    </ul>
                </div>
                <!--评论收藏-->
                <div class="j-r-list-tool-r j-r-list-tool-age">
                    <ul>
                        <li class="j-r-list-tool-l-comment f-tac ">
                            <a href="/detail-<%= item['id']%>.html" class="read" target="_blank">
                                <i class="icon-comment"></i>&nbsp;&nbsp;<%= item['comment']%>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </li>
        <% }); %>
    </script>

            </div>

            <!--right -->
            <div class="g-sd">
                
    <div class="j-l-c">
        <!--个人主页-->
        <div class="p-age">
            <div class="p-age-message" id="userInfo">
                <div class="p-age-img">
                    <a href="">
                        <img class="p-logo" src="Picture/d186e27ac45c48759eda4f7b1fa53257.gif" alt=""/>
                    </a>
                </div>
                <div class="p-age-mess">
                    <div class="p-age-name">
                        <a href="" class="p-age-netname"></a>
                        <i class="icon-rank"></i>
                    </div>
                    <div class="p-age-lein">
                        <span class="level">等级：</span>
                        <span class="integral">积分：</span>
                    </div>
                    <div class="signature"></div>
                </div>
            </div>
            <div class="p-age-attente" id="userFollow">
                <div class="p-age-attente-title">
                    <span>关注（人）</span>
                    <a href="" class="p-age-all">全部</a>
                </div>
                <ul class="p-age-attente-con">
                </ul>
            </div>
            <div class="p-age-attente" id="userFans">
                <div class="p-age-attente-title">
                    <span>粉丝（人）</span>
                    <a href="" class="p-age-all">全部</a>
                </div>
                <ul class="p-age-attente-con">
                </ul>
            </div>
        </div>
        <!--投稿审稿-->
        <!--投稿-->
<div class="j-sent">
    <a href="/user/publish/" onclick="jie.gaSend('pc官网-点击发帖button','点击大发帖button','')" class="left icon-contribute">
        <i class="icon-page-contribute"></i>发帖
    </a>
</div>


        <!--大家的在看-->
        
<div class="j-r-wrst j-all-like j-r-list j-everyone">
    <div class="n-title">
        <h2 class="u-tt u-tt-md">好书荐读网友都在看</h2>
    </div>
    <div class="j-list">
        <div class="j-list-c">
            
            
            <div class="j-item">
                <a href="/detail-27219480.html"
                    data-title=" 这才叫“坑爹”，笑到"
                    data-id="27219480"
                    data-date=""
                    data-time="">
                    <div class="j-item-img">
                        <img src="Picture/default140.jpg"
                                 class="lazy"
                                 data-original="http://mpic.spriteapp.cn/crop/152x93/ugc/2018/02/09/3c78de640e0b11e881b5842b2b4c75ab.jpg" alt="这才叫“坑爹”，笑到" />
                        <!--<div class="j-item-play">-->
                            <!--<i class="icon-play"></i>-->
                        <!--</div>-->
                    </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27219480.html">这才叫“坑爹”，笑到肚子抽筋！</a>
                </div>
            </div>
            
            
            
            <div class="j-item">
                <a href="/detail-27272341.html"
                    data-title=" 路上遇到老人小孩问你"
                    data-id="27272341"
                    data-date=""
                    data-time="">
                    <div class="j-item-img">
                        <img src="Picture/default140.jpg"
                                 class="lazy"
                                 data-original="http://mpic.spriteapp.cn/crop/152x93/ugc/2018/02/28/5a958e2e8b743.jpg" alt="路上遇到老人小孩问你" />
                        <!--<div class="j-item-play">-->
                            <!--<i class="icon-play"></i>-->
                        <!--</div>-->
                    </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27272341.html">路上遇到老人小孩问你要吃的一定要小...</a>
                </div>
            </div>
            
            
            
            <div class="j-item">
                <a href="/detail-27237534.html"
                    data-title=" 看到最后忍不住笑出声"
                    data-id="27237534"
                    data-date=""
                    data-time="">
                    <div class="j-item-img">
                        <img src="Picture/default140.jpg"
                                 class="lazy"
                                 data-original="http://mpic.spriteapp.cn/crop/152x93/ugc/2018/02/15/5a84bbeb40fbf.gif" alt="看到最后忍不住笑出声" />
                        <!--<div class="j-item-play">-->
                            <!--<i class="icon-play"></i>-->
                        <!--</div>-->
                    </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27237534.html">看到最后忍不住笑出声了！</a>
                </div>
            </div>
            
            
            
            <div class="j-item">
                <a href="/detail-27088925.html"
                    data-title=" 为什么年轻时要多赚钱"
                    data-id="27088925"
                    data-date=""
                    data-time="">
                    <div class="j-item-img">
                        <img src="Picture/default140.jpg"
                                 class="lazy"
                                 data-original="http://mpic.spriteapp.cn/crop/152x93/ugc/2018/01/05/5a4eea64d021c.jpg" alt="为什么年轻时要多赚钱" />
                        <!--<div class="j-item-play">-->
                            <!--<i class="icon-play"></i>-->
                        <!--</div>-->
                    </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27088925.html">为什么年轻时要多赚钱？这是我听过最...</a>
                </div>
            </div>
            
            
            
            <div class="j-item">
                <a href="/detail-27216428.html"
                    data-title=" 推荐27部全程无尿点"
                    data-id="27216428"
                    data-date=""
                    data-time="">
                    <div class="j-item-img">
                        <img src="Picture/default140.jpg"
                                 class="lazy"
                                 data-original="http://mpic.spriteapp.cn/crop/152x93/ugc/2018/02/08/5a7ba98856e1a.jpg" alt="推荐27部全程无尿点" />
                        <!--<div class="j-item-play">-->
                            <!--<i class="icon-play"></i>-->
                        <!--</div>-->
                    </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27216428.html">推荐27部全程无尿点的电影，从头到...</a>
                </div>
            </div>
            
            
            
            <div class="j-item">
                <a href="/detail-27230172.html"
                    data-title=" 姑娘晚上被陌生男子6"
                    data-id="27230172"
                    data-date=""
                    data-time="">
                    <div class="j-item-img">
                        <img src="Picture/default140.jpg"
                                 class="lazy"
                                 data-original="http://mpic.spriteapp.cn/crop/152x93/ugc/2018/02/12/5a813ec244641.jpg" alt="姑娘晚上被陌生男子6" />
                        <!--<div class="j-item-play">-->
                            <!--<i class="icon-play"></i>-->
                        <!--</div>-->
                    </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27230172.html">姑娘晚上被陌生男子6次敲门！邻居的...</a>
                </div>
            </div>
            
            
            
            <div class="j-item">
                <a href="/detail-27266763.html"
                    data-title=" 滴滴司机被罚2万自杀"
                    data-id="27266763"
                    data-date=""
                    data-time="">
                    <div class="j-item-img">
                        <img src="Picture/default140.jpg"
                                 class="lazy"
                                 data-original="http://mpic.spriteapp.cn/crop/152x93/ugc/2018/02/26/5a938f307cca6.jpg" alt="滴滴司机被罚2万自杀" />
                        <!--<div class="j-item-play">-->
                            <!--<i class="icon-play"></i>-->
                        <!--</div>-->
                    </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27266763.html">滴滴司机被罚2万自杀：贫穷比我们想...</a>
                </div>
            </div>
            
            
            
            <div class="j-item">
                <a href="/detail-27260936.html"
                    data-title=" 上了名校才知道，人和"
                    data-id="27260936"
                    data-date=""
                    data-time="">
                    <div class="j-item-img">
                        <img src="Picture/default140.jpg"
                                 class="lazy"
                                 data-original="http://mpic.spriteapp.cn/crop/152x93/ugc/2018/02/24/5a9117d16319a.jpg" alt="上了名校才知道，人和" />
                        <!--<div class="j-item-play">-->
                            <!--<i class="icon-play"></i>-->
                        <!--</div>-->
                    </div>
                </a>
                <div class="j-item-des">
                    <a href="/detail-27260936.html">上了名校才知道，人和人的差距比人和...</a>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

        <br/>
    </div>

            </div>
        </div>
    </div>
    <div id="jDownloadVideo" style="display: none;"></div>

<!--footer -->
<div class="j-footer">
    <!--联系-->
    <div class="j-contect">
        <div class="box" style="width:140px;">
            <h3>关于好书荐读</h3>

            <div class="main">
                <ul>
                    <li>
                        <a rel="nofollow" href="http://www.spriteapp.com/about.html" target="_blank">关于好书荐读</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="http://www.spriteapp.com/Cooperation.html" target="_blank">媒体合作</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="http://www.budejie.com" target="_blank">不得姐</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box" style="width:170px;">
            <h3>关注好书荐读</h3>

            <div class="main">
                <ul>
                    <li>
                        <a rel="nofollow" href="http://weibo.com/bsbudejie" target="_blank">好书荐读新浪微博</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="javascript:void(0)" class="j-qq">好书荐读QQ公众号</a>

                    </li>
                    <li>
                        <a rel="nofollow" href="http://tieba.baidu.com/f?kw=%E7%99%BE%E6%80%9D%E4%B8%8D%E5%BE%97%E5%A7%90&ie=utf-8&fr=wwwt"
                           target="_blank">不得姐贴吧</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="http://user.qzone.qq.com/2202411449" target="_blank">好书荐读QQ空间</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="javascript:void(0)" class="j-weixin">好书荐读微信公众号</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box last">
            <h3>友情链接</h3>

            <div class="main">
                <ul>
                    <li>
                        <a  href="http://www.99danji.com/zt/" target="_blank">单机游戏大全</a>
                    </li>
                    <li>
                        <a  href="http://www.9553.com/article/" target="_blank">游戏攻略大全</a>
                    </li>
                    <li>
                        <a  href="http://tupian.baike.com/" target="_blank">图片百科</a>
                    </li>
                    <li>
                        <a  href="http://www.ratoo.net/" target="_blank">热图网</a>
                    </li>
                    <li>
                        <a href="http://www.7791.com.cn/" target="_blank">叫兽网</a>
                    </li>
                    <li>
                        <a href="http://www.kaolafm.com/ " target="_blank">考拉FM</a>
                    </li>
                    <li>
                        <a href="http://jailbreak.25pp.com/" target="_blank">苹果越狱</a>
                    </li>
                    <li>
                        <a  href="http://aladd.net/" target="_blank">唯美图片</a>
                    </li>

                    <li>
                        <a  href=" http://www.hdpfans.com/" target="_blank">高清范</a>
                    </li>
                    <li>
                        <a  href="http://www.onlylady.com/" target="_blank">女人志</a>
                    </li>
                    <li>
                        <a  href="http://bbs.letv.com/" target="_blank">乐迷社区</a>
                    </li>
                    <li>
                        <a  href="http://dev.wankacn.com/" target="_blank">聚传</a>
                    </li>
                    <li>
                        <a href="http://www.shayujizhang.com/" target="_blank">鲨鱼记账</a>
                    </li>
                    <li>
                        <a href="http://www.miyanlife.com/" target="_blank">蜜颜网</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box">
            <h3>好书荐读粉丝交流群</h3>

            <div class="main">
                <ul>
                    <li>
                        <a rel="nofollow" href="#">不得姐粉丝群1:133084754</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">不得姐粉丝群2:251857413</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">不得姐粉丝群3:183719937</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">不得姐粉丝群4:240743608</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">不得姐粉丝群5:66481443</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--公司-->
    <div class="j-footer-c">
        精灵在线网络技术（北京）有限公司©2011<a target="_blank" href=" ">京公网安备11010802021522号</a >|京ICP备11038795号|<a target="_blank" class="wangwen"  href="http://wimg.spriteapp.cn/picture/2077378.jpg">京网文[2015]2077-378号</a >
    </div>
</div>
<script src="Scripts/jquery.min.js"></script>
<script src="Scripts/underscore-min.js"></script>
<script src="Scripts/base.js"></script>
<script src="Scripts/jquery.placeholder.min.js"></script>
<script type="text/javascript"
        src="Scripts/88b394dca99041d2948fcc8281f6e77b.js"></script>
<script type="text/javascript">
    var jie = window['jie'] || {};
    jie['common_config'] = {};
    jie['is_oauth_login'] = 'True';
    jie['is_login_page'] = '';
    jie.gaSend = function (opt, type, tag) {
        ga('send', 'event', opt, type, tag);
    };
    try {
        jie['common_config'] = jie_common_config;
    } catch (e) {
    }
</script>

<script src="Scripts/require.js"></script>

    <script type="text/javascript">
        var INDEXBASEURL = "http://mstatic.spriteapp.cn/xx/1/w3/js/",
                STATICLAZYSRC = "http://mstatic.spriteapp.cn/xx/1/w3/img/lazyload/",
                SHAREID = null;
    </script>
    
    <script src="Scripts/personal.page.config.js"></script>



    <!--百分点代码：-->
    <script type="text/javascript">
    </script>

<script type="text/javascript">
    var _r = window.document.referrer.replace('http://', '');
    if (_r == '') {
        _r = 'wulaiyuan';
    }
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-68700631-3', 'auto', {'sampleRate': 20});
   // ga('create', 'UA-41454169-10', 'auto');
    ga('set', 'dimension1', _r);
    ga('send', 'pageview', {
        'dimension1': _r
    });

    //百度统计代码
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?7c9f93d0379a9a7eb9fb60319911385f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script type="text/javascript">
    window["_BFD"] = window["_BFD"] || {};
    _BFD.client_id = "Cbudejie_pc";
    _BFD.BFD_USER = {
        "user_id" : 0, //网站当前用户id，如果未登录就为0或空字符串
        "user_cookie" : jie['common_config']['baifen_cookie'] || '', //网站当前用户的cookie，不管是否登录都需要传
        "p_id":""   //页面id
    };
    _BFD.script = document.createElement("script");
    _BFD.script.type = "text/javascript";
    _BFD.script.async = true;
    _BFD.script.charset = "utf-8";
    _BFD.script.src = (('https:' == document.location.protocol ? 'https://ssl-static1' : 'http://static1') + '.bfdcdn.com/service/baisibudejie/baisibudejie.js');
    document.getElementsByTagName("head")[0].appendChild(_BFD.script);
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#showAllLink').on('click', function () {
            $('.j-contect').removeClass('j-contect-h');
            $(this).remove();
        });
    });
</script>

</body>
