<IfModule mod_rewrite.c>    
	Options +FollowSymLinks  
	IndexIgnore */*  
	# 开启rewrite模块
	RewriteEngine on  
	# if a directory or a file exists, use it directly  
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# 定向到index.php  
RewriteRule ^(.*)$ /index.php?/$1 [L] 
</IfModule> 